In [1]:
import numpy as np
import pandas as pd
ds = pd.read_csv('weatherAUS.csv')
ds = ds.drop(['Evaporation', 'Sunshine','Cloud9am','Cloud3pm'], axis='columns')

In [6]:
ds = ds.dropna()
ds.reset_index()
ds

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,E,31.0,ESE,E,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No

In [7]:
#scaled numbers
X_num = ds.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'], axis = 'columns')
from sklearn import preprocessing 
scaled_num = preprocessing.MinMaxScaler().fit_transform(X_num)
cols = X_num.columns
scaled_num = pd.DataFrame(data= scaled_num , columns= cols)

In [8]:
#scale categorical
X_cat = ds.drop(['MinTemp','MaxTemp','Rainfall','WindGustSpeed','WindSpeed9am','WindSpeed3pm','Humidity9am','Humidity3pm','Pressure9am','Pressure3pm','Temp9am','Temp3pm'], axis = 'columns')
X_cat

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No
...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,E,ESE,E,No,No
145455,2017-06-21,Uluru,E,SE,ENE,No,No
145456,2017-06-22,Uluru,NNW,SE,N,No,No
145457,2017-06-23,Uluru,N,SE,WNW,No,No
145458,2017-06-24,Uluru,SE,SSE,N,No,No

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_cat.Location = le.fit_transform(X_cat.Location)
X_cat.WindGustDir = le.fit_transform(X_cat.WindGustDir)
X_cat.WindDir9am = le.fit_transform(X_cat.WindDir9am)
X_cat.WindDir3pm = le.fit_transform(X_cat.WindDir3pm)
X_cat.RainToday = le.fit_transform(X_cat.RainToday)
X_cat.RainTomorrow = le.fit_transform(X_cat.RainTomorrow)
X_cat

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,1,13,13,14,0,0
1,2008-12-02,1,14,6,15,0,0
2,2008-12-03,1,15,13,15,0,0
3,2008-12-04,1,4,9,0,0,0
4,2008-12-05,1,13,1,7,0,0
...,...,...,...,...,...,...,...
145454,2017-06-20,36,0,2,0,0,0
145455,2017-06-21,36,0,9,1,0,0
145456,2017-06-22,36,6,9,3,0,0
145457,2017-06-23,36,3,9,14,0,0
145458,2017-06-24,36,9,10,3,0,0

In [19]:
X_compl = pd.concat([X_cat,X_num], axis= 1)
X_compl = X_compl.set_index('Date')
X_compl

,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
Date,,,,,,,,,,,,,,,,,,
2008-12-01,1,13,13,14,0,0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8
2008-12-02,1,14,6,15,0,0,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3
2008-12-03,1,15,13,15,0,0,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2
2008-12-04,1,4,9,0,0,0,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5
2008-12-05,1,13,1,7,0,0,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-20,36,0,2,0,0,0,3.5,21.8,0.0,31.0,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9
2017-06-21,36,0,9,1,0,0,2.8,23.4,0.0,31.0,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4
2017-06-22,36,6,9,3,0,0,3.6,25.3,0.0,22.0,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5
2017-06-23,36,3,9,14,0,0,5.4,26.9,0.0,37.0,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1
2017-06-24,36,9,10,3,0,0,7.8,27.0,0.0,28.0,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0

In [20]:
x_train = X_compl.drop(['RainTomorrow'], axis='columns').head(90340)
y_train = X_compl.RainTomorrow.head(90340)
x_test = X_compl.drop(['RainTomorrow'], axis='columns')[90340:]
y_test = X_compl.RainTomorrow[90340:]

In [21]:
from sklearn import tree
tree = tree.DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
tree.score(x_train,y_train)

1.0

In [23]:
tree.score(x_test, y_test)

0.7870710648660616

In [24]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression(solver='lbfgs',max_iter=1000).fit(x_train,y_train)
logr

LogisticRegression(max_iter=1000)

In [25]:
logr.score(x_train,y_train)

0.8446313925171574

In [26]:
logr.score(x_test,y_test)

0.8608368386096967

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_compl.drop(['RainTomorrow'], axis='columns'), X_compl.RainTomorrow, test_size=0.25)

In [28]:
lr = LogisticRegression(solver='lbfgs',max_iter=1000)
lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

0.8520119013884954

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=40)
rf.fit(X_train,Y_train)
rf.score(X_test,Y_test)

0.8581042788325305

In [20]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)
kf

KFold(n_splits=10, random_state=None, shuffle=False)

In [21]:
def get_score(model,X_train,X_test,Y_train,Y_test):
    model.fit(X_train,Y_train)
    return model.score(X_test,Y_test)

In [22]:
print ("lr score: ",get_score(LogisticRegression(solver='lbfgs',max_iter=1000),X_train,X_test,Y_train,Y_test))
print ("rf score: ",get_score(RandomForestClassifier(n_estimators=40),X_train,X_test,Y_train,Y_test))
print ("tree: ",get_score(tree,X_train,X_test,Y_train,Y_test))

lr score:  0.8503825446302069
rf score:  0.8581396996316237
tree:  0.7906630773590252

In [23]:
from sklearn.model_selection import StratifiedKFold
kf = StratifiedKFold(n_splits=10)

In [ ]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma='auto'), {
    'C': [1,10,20],
    'kernel': ['rbf','linear']
}, cv=10, return_train_score=False)
clf.fit(x_train, y_train)
clf.cv_results_

In [ ]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X_train,Y_train)
svm.score(X_test,Y_test)